.projectsWrapper {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 100px;
       padding-top: 70px;
}

.projectsWrapper .title {
       letter-spacing: 0.03em;
       font-size: 60px;
       color: #072136;
       margin-top: 100px;
       opacity: 0;
}

.projectsWrapper .wrap {
       display: flex;
}

.projectsWrapper .person .name {
       color: #072136;
       font-size: 36px;
}

.projectsWrapper .person .text {
       letter-spacing: 0.03em;
       width: 460px;
}

.projectsWrapper .scroll {
       opacity: unset;
       transition: opacity 3.5s ease;
}