.projectsWrapper{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-bottom: 100px;
}
.projectsWrapper .title{
       letter-spacing: 0.03em;
       font-size: 60px;
       padding-bottom: 100px;
       color: #072136;
       margin-top: 150px;
}
.projectsWrapper .wrap{
       display: flex;
}
.projectsWrapper .person .name{
       color: #072136;
       font-size: 36px;
}
.projectsWrapper .person .text{
       letter-spacing: 0.03em;
       width: 460px;
}