.testimonials {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background: #F7F7F7;
       padding: 100px 0;
}

.testimonials .title {
       letter-spacing: 0.05em;
       line-height: 1.2em;
       font-size: 36px;
       color: #072136;
       opacity: 0;
}

.testimonials .scroll-title {
       opacity: unset;
       transition: opacity 2.5s ease;
       animation-name: title;
       animation-duration: 2.5s;
}

.slick-slider {
       width: 980px;
}

.slider-wrapper {
       display: flex !important;
       flex-direction: column;
       align-items: center;
       text-align: center;
       opacity: 0;
}

.testimonials .scroll-text {
       opacity: unset;
       transition: opacity 2.5s ease;
       animation-name: title;
       animation-duration: 2.5s;
}

.slider-wrapper .text-1 {
       margin-top: 90px;
       width: 507px;
       color: #04141f;
       font-size: 20px;
       letter-spacing: 0.8px;
       font-family: 'Avenir Next Cyr', sans-serif;
}

.slider-wrapper .text-2 {
       color: #012b4c;
       margin-top: 30px;
       font-weight: 700;
       letter-spacing: 1px;
       font-size: 16px;
       font-family: 'Avenir Next Cyr', sans-serif;
}

.slider-wrapper .text-3 {
       font-family: 'Avenir Next Cyr', sans-serif;
       letter-spacing: 1px;
       padding-bottom: 100px;
}

.slick-arrow {
       z-index: 1;
}

.slick-prev:before {
       content: "<";
       color: gray;
}

.slick-next:before {
       content: ">";
       color: gray;
}

.slick-next {
       z-index: 1;
}

.slick-dots li button:before {
       font-size: 8px;
       opacity: unset;
}

.slick-dots li.slick-active button:before {
       border: 2px solid black;
       font-size: 0px;
       border-radius: 50%;
       margin-top: 3px;
       margin-left: 2px;
       width: 9px;
       height: 9px;
       opacity: unset;
}


@keyframes title {
       0%{
              margin-top: 20px;
       }
       100%{
              margin-top: 0;
       }
}