.header{
       display: flex;
       background: #0C3C60;
       align-items: center;
}
.james-consulting{
       font-family: 'Arial Light', sans-serif;
       font-size: 20px;
       cursor: pointer;
       text-decoration: none;
       padding: 22px 22px 22px 100px;
       color: white;
       letter-spacing: 0.02em;
}
.menu{
       margin-left: 420px;
}
.menu-text{
       padding: 0 10px;
       font-size: 15px;
       cursor: pointer;
       text-decoration: none;
       color: white;
       font-weight: 200;
       letter-spacing: 0.02em;
}
.header .MuiSvgIcon-root{
       margin-left: 20px;
       width: 26px;
       height: 26px;
       color: white;
}